.env

# python cache
__pycache__/
*.pyc

# runtime data
tipos-dados-avancados-modelagem-ciencia-dados/data/*
pre-processamento-vendas/dados/*

# keep folders
!/data/pending/.gitkeep
!/data/processed/.gitkeep
!/data/failed/.gitkeep
!/data/backup/.gitkeep
!/logs/.gitkeep
.idea
